<h1> Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<h1> Some of the popular languages that Data Scientists use are: </h1>
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Scala</li>
  <li>Java</li>
  <li>C++</li>
  <li>Julia</li>
</ol>

<h1>Some of the commonly used libraries used by Data Scientists include:</h1>
<ol>
  <li>Pandas</li>
  <li>NumPy</li>
  <li>SciPy</li>
  <li>Matplotlib</li>
</ol>

<h1>Data Science Tools</h1>

<table>
  <tr>
    <th>Area</th>
    <th>Tools</th>
  </tr>
  <tr>
    <td>Data integration and transformation</td>
    <td>Apache AirFlow, KubeFlow, Apache Kafka, Apache Nifi, Apache SparkSQL, and NodeRED</td>
  </tr>
  <tr>
    <td>Data Visualization</td>
    <td>Pixie Dust, Hue, Kibana, and Apache Superset.</td>
  </tr>
  <tr>
    <td>Code asset management tools</td>
    <td>Git, GitHub, GitLab, and Bitbucket</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [6]:
#This a simple arithmetic expression to mutiply then add integers
a = 3
b = 4
c = 5
arthmetic = (a*b)+c
print(arthmetic)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335


<h1>List popular languages for Data Science</h1>
<ul>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ul>

<h2>Author</h2>
SAI TEJA CHAKALI